@import "tailwindcss";
@plugin "@tailwindcss/typography";

:root {
    --background: #ffffff;
    --foreground: black;
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
}
